# Using Pandas for table data

Raechel A. Portelli
Updated: May 17, 2021

This document contains some of the most basic functions used to evaluate values in tables using pandas. A generic CSV file called CSV1 is used as a holder for a comma seperated value text file (.csv)

With pandas you can string together functions using a period (.) and you call attributes using [''] notation.

In [1]:
import pandas as pd

In [2]:
csv1 = pd.read_csv('CSV1.csv')

In [3]:
#To view header information for first two entries the CSV
csv1.head(2)

   OBJECTID  Column_1  Column_2  Column_3
0         0         1         2       0.1
1         1         3         4       0.2

In [4]:
#To see how many entries are available
csv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OBJECTID  6 non-null      int64
 1   Column_1  6 non-null      int64
 2   Column_2  6 non-null      int64
 3   Column_3  6 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 320.0 bytes

In [6]:
#To find the average for a column of information 
csv1['Column_1'].mean
#To find the maximum value for a column of information 
csv1['Column_1'].max

<bound method Series.max of 0     1
1     3
2     5
3     7
4     9
5    11
Name: Column_1, dtype: int64>

In [ ]:
#Identify a specific entity
csv1[csv1['Column1'] == 'EntityName']
#Identify another property of the entity
csv1[csv1['Column1'] == 'EntityName']['Column2']
#Identify a entity based on another maximum entity value
csv1[csv1['Column1']==csv1['Column1'].max()]['Entity']
#Alternative method that returns all properties of the entity
csv1.loc[csv1['Column1'].idmax()]

In [ ]:
#Find average values based on subgroups
csv1.groupby('Subgroup').mean()['Colunn1']
#Number of unique Value
csv1['Column1'].nunique()

In [ ]:
#Identify number of occurances (Value 2) of subgroup of Value 1
csv1[csv1['Subgroup']==VALUE1]['Column1'].value_counts() == VALUE2

In [6]:
#Write a function that returns TRUE of FALSE based on contents of a string
#Lower() -moves everything to lower case
#split() - splits text string
def string_test(Column1):
    if 'content' in Column1.lower().split():
        return True
    else:
        return False

In [8]:
#Run function on an example string
string_test('This is an example CONTENT')
#To apply to a Column in the dataset
csv1['Column1'].apply(lambda x: string_test(x))

True

In [ ]:
#Count the number of entities with some value (counts the length of index)
len(csv1[csv1['Column1'== VALUE]].index)